@import 'theme/variable' ;
$primary: rgb(59, 59, 59);
$secondary: rgb(59, 59, 59);
$dark:rgb(59, 59, 59);
$light: rgb(59, 59, 59);
@import 'theme/style';
@import 'theme/responsive';
@import 'theme/customize';
@import 'theme/theme-dark';
@import 'theme/theme-rtl';